doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/font-awesome-4.5.0/css/font-awesome.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .contents
        .col-md-6.quarter(style='background-color:pink;')
          .innerDiv
            h2 The Mendicity Instituion
            h3 9 Island Street
            h3 Dublin 8
          .iconDiv
            i.fa.fa-address.iconCenter.fa-5x

        .col-md-6.quarter(style='background-color:purple;')
          .innerDiv
            h2 Directions
          .iconDiv
            i.fa.fa-map.iconCenter.fa-5x


        .col-md-6.quarter(style='background-color:cyan;')
          .innerDiv
            h2 01 677 3308 / 087 662 0374
          .iconDiv
            i.fa.fa-phone.iconCenter.fa-5x


        .col-md-6.quarter(style='background-color:white;')
          .innerDiv
            h2 Email
            h3 info@mendicity.org
          .iconDiv
            i.fa.fa-phone.iconCenter.fa-5x
