doctype html
html
  head
    title Home Screen
    link(rel='stylesheet', href='/font-awesome-4.5.0/css/font-awesome.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .contents
      a.linkStyle(href='/whatismendicity')
        .col-md-6.quarterMendicity.background-image
          .innerDiv.wahtismendicity
            h2 What is the Mendicity Institution Trust?

          .iconDiv
            i.fa.fa-info.iconCenter.fa-5x

      a.linkStyle(href='/whatisthebookoftransmission')
        .col-md-6.quarterTrans
          .innerDiv
            h2 What is the Book of Transmission?

          .iconDiv
            i.fa.fa-book.iconCenter.fa-5x

      a.linkStyle(href='/searchpage')
        .col-md-6.quarterSearch
          .innerDiv
            h2 Browse through the people who were granted transmission
          .iconDiv
            i.fa.fa-users.iconCenter.fa-5x

      a.linkStyle(href='/contactmendicity')
        .col-md-6.quarterContact
          .innerDiv
            h2 How to contact The Mendicity Trust Institution
          .iconDiv
            i.fa.fa-phone.iconCenter.fa-5x
