extends layout

block content

    .contents
      a.linkStyle(href='/whatismendicity')
        .col-md-6.quarterMendicity.background-image
          .innerDiv.wahtismendicity
            h2 What is the Mendicity Institution Trust?

          .iconDiv
            i.fa.fa-info.iconCenter.fa-5x

      a.linkStyle(href='/whatisthebookoftransmission')
        .col-md-6.quarterTrans
          .innerDiv
            h2 What are the Books of Transmission?

          .iconDiv
            i.fa.fa-book.iconCenter.fa-5x

      a.linkStyle(href='/searchpage')
        .col-md-6.quarterSearch
          .innerDiv
            h2 Browse through Transmission Records
          .iconDiv
            i.fa.fa-users.iconCenter.fa-5x

      a.linkStyle(href='/contactmendicity')
        .col-md-6.quarterContact
          .innerDiv
            h2 How to contact The Mendicity Trust Institution
          .iconDiv
            i.fa.fa-phone.iconCenter.fa-5x
