extends layout

block content
    container.container-table
      .row.vertical-center-row
        .text-center.col-md-6.col-md-offset-6
          h1 The Mendicity Institution Trust

          h2 "Helping people get from the workhouse back home"
          a(href='/homepage')
            button.btn.btnMoreInfo.btn-lg.btn-info(type='button') More Information
