doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/font-awesome-4.5.0/css/font-awesome.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    container.container-table
      .row.vertical-center-row
        .text-center.col-md-6.col-md-offset-6
          h1 The Mendicity Institution Trust

          h2 "Helping people get from the workhouse back home"
          a(href='/homepage')
            button.btn.btnMoreInfo.btn-lg.btn-info(type='button') More Information
