extends layout

block content
    .row
      .col-xs-3
        a(href='/homepage')
          i.fa.fa-home.homeIcon.fa-5x
      .col-xs-9
        h3 What is the book of Transmission?

    .row
      .col-xs-8
          p.aboutTransBook
            |The Transmission Books of the Mendicity are a record of people who have been helped travel from Dublin to the other towns, cities and villages throughout Ireland and further afield.
          br
          br
          p.aboutTransBook
            |As well as taking beggars off the street by providing employment, the Mendicity also funded transmission.
          br
          br
          p.aboutTransBook
            |This was a system whereby people were funded to return to their home place, a place where they had been promised employment or to be reunited with friends or family that would be able to support them.  Those applying for transmission were required to labour in the Mendicity for four weeks while their cases were investigated.
          br
          br
          p.aboutTransBook
            |That generally sorted out the deserving from the undeserving but written references, proofs or undertaking were required from local clergymen police or prospective employers before the tickets were purchased, generally at a discount from the various steam packet and railway companies.  Generally the transmissions were to other parts of Ireland or to England but there were a couple of French plumbers who wound up in Dublin, some Poles and a Russian sailor who missed his boat in Galway. Between June and December 1818 over 2,600 people were transmitted.
          br
          br
          p.aboutTransBook
            |The service continued until 1969 when Paddy Power, a 23 year old living in The Iveagh Hostel applied for the fare to Navan where he had a letter of admission for an operation.  The final note in the transmissions book reads, ‘cancelled - did not turn up for bus.’  It is very similar to the service we provide today for the east European migrants.
          br
          br
          p.aboutTransBook
            |If you add the 2,600 transmitted to the 2,930 mendicant being looked after at Island St one can easily appreciate the profound affect on the city streets.

      .col-xs-4
        img.bkImg(src='/images/AlexanderMcConnell.jpg')
        img.bkImg(src='/images/BrigetSampson.jpg')
        img.bkImg(src='/images/FrancisRyan.jpg')
        img.bkImg(src='/images/JamesBryan.jpg')
        img.bkImg(src='/images/ThomasMahony.jpg')
        img.bkImg(src='/images/ThomasSinclair.jpg')
