extends layout

block content
    .row
      .col-xs-3
        a(href='/homepage')
          i.fa.fa-home.homeIcon.fa-5x
      .col-xs-9
        h3 What is the Mendicity Institution Trust?
    .row
      .col-xs-8
          p.aboutMendo
            |The Mendicity Institution ("The Mendo") is Dublin's second oldest charity, established in 1818.  During its life-span, it has always worked towards the relief of poverty in the city and continues today as a food centre providing free meals daily, including Sunday brunch.
            |The Institution runs a six day a week food service, serving over 25,000 meals a year form their premises in Island Street, 'free of charge and no questions asked'
            br
            br
            |In association with the Robert Emmett Community Development Project they provide meals for their after schools homework club.
            br
            br
        .col-xs-4
            img.img-responsive(src='/images/mendo.jpg')
    .row
      .col-xs-12
        p.aboutMendo
            |Since 2012 they have been assisting the truly destitute, the large numbers of EA migrants, who having been working here illegally during the boom, found themselves unemployed, with no entitlements, homeless and increasingly dependent on alcohol.
            br
            br
            |Large numbers of Poles, Latvians and Lithuanians came to the Mendo for the Food Service, such was the scale of the problem the Institute initiated a programme that they co funded with Dublin City Council in co operation with Simon Detox, Barka - a Polish charity, Crosscare, De Paul and MQI they succeeded in helping over 180 migrants either back to their families, into detox and therapy in their own countries or in Ireland, or back to work.
            br
            br
            |They now have Rumanian, Polish and Lithuanian and Russian speaking staff in their Employment Project help those who get into difficulties, assist the remaining group of long term rough sleepers and prevent other migrants falling into homelessness and dependency.
            br
            br
            |The charity operates on a voluntary basis.
